<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" routerLink="/inicio">
        <ion-icon name="log-out" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Modificar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Modificar</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
